body {
    font-family: Arial, Helvetica, sans-serif;
}
 h1{
    font-size: 50px;
 }
 #start{
    font-size: 30px;
    background-color: blue;
 }
 h2{
    justify-content: center;
    width: 50%;
    ;
 }
.panel {
    margin-top: 8%;
    display: none;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
}
.form {
    margin-top: 8%;
    display: none;
    flex-direction: column;
    align-items: center;
    color: navy;
}

 .welcome{
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
 }
.question {
    font-size: 30px;
    margin-bottom: 20px;
}
.failure{
    margin-top: 8%;
    display: none;
    flex-direction: column;
    align-items: center;
    margin-left: 40%;
    color: rgb(0, 0, 0);
    background-color: aqua;
    width: 20%;
 }

.options {
    font-size: 20px;
    margin-right: 9%;
}
.scores{margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
    
}
 #timer{
    color: rgb(1, 248, 215);
    background-color: rgb(212, 98, 53);
    display: none;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin-left: 39%;
  
 }
button {
    margin-top: 20px;
    margin-right: 25px;
    font-size: 15px;
    padding: 10px 20px;
    background-color: #7a0d0d;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}
 
#score {
    font-size: 30px;
    color: darkslategray;
}

#timer{
    font-size: 30px;
}