body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
 
.panel {
    margin-top: 8%;
    display: none;
    flex-direction: column;
    align-items: center;
    color: navy;
}
.form {
    margin-top: 8%;
    display: none;
    flex-direction: column;
    align-items: center;
    color: navy;
}

 .welcome{
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
 }
.question {
    font-size: 30px;
    margin-bottom: 20px;
}
.failure{
    margin-top: 8%;
    display: none;
    flex-direction: column;
    align-items: center;
    margin-left: 40%;
    color: rgb(0, 0, 0);
    background-color: aqua;
    width: 20%;
 }

.options {
    font-size: 20px;
    margin-right: 9%;
}
.scores{margin-top: 8%;
    display: none;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
    
}
 #timer{
    color: rgb(191, 134, 224);
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 80%;
 }
button {
    margin-top: 20px;
    margin-right: 25px;
    font-size: 15px;
    padding: 10px 20px;
    background-color: #7a0d0d;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}
 
#score {
    font-size: 30px;
    color: darkslategray;
}

#timer{
    font-size: 30px;
}